* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 100%;
  margin: 0 0 0;
  box-shadow: 0px 1px 5px #2c2c2c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
}
nav .logo {
  display: flex;
  justify-content: flex-stert;
  align-items: center;
  flex-direction: row;
  flex: 1 1 10rem;
  margin-left: 10rem;
}
nav .logo img {
  margin-right: 1rem;
  width: 6vw;
  height: 6vh;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  -webkit-text-fill-color: #38d39f;
}
.intro h3 {
  padding: 2rem 0rem;
  font-size: 5rem;
}
.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
}

.intro-social {
  margin-top: 4rem;
}
.intro-social a {
  margin-right: 5rem;
}

.active {
  color: white;
  background-color: #2c2c2c;
  border-radius: 2rem;
  padding: 0.5rem 3rem;
}

.intro-text .intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  -webkit-animation: plant 2s ease infinite alternate;
          animation: plant 2s ease infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#plant-right {
  -webkit-animation: plant 2s ease infinite alternate 0.5s;
          animation: plant 2s ease infinite alternate 0.5s;
  transform-origin: bottom;
  transform-box: fill-box;
}

#clock-arrow {
  -webkit-animation: clock 1s linear infinite;
          animation: clock 1s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#me {
  -webkit-animation: me 2s infinite alternate;
          animation: me 2s infinite alternate;
  transform-origin: bottom;
}

@-webkit-keyframes me {
  from {
    transform: rotateZ(-7deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes me {
  from {
    transform: rotateZ(-7deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@-webkit-keyframes plant {
  from {
    transform: rotateZ(-20deg);
  }
  to {
    transform: rotateZ(2deg);
  }
}
@keyframes plant {
  from {
    transform: rotateZ(-20deg);
  }
  to {
    transform: rotateZ(2deg);
  }
}
@-webkit-keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.projects h2 {
  margin: 5rem;
}

.travelly,
.photography {
  flex: 1 1 40rem;
}

.form-section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-section img {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}
.form-section form {
  color: white;
  letter-spacing: 0.5rem;
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8), 0px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}
.form-section form input,
.form-section form textarea {
  margin: 2rem;
}
.form-section form input:focus,
.form-section form textarea:focus {
  outline: 3px solid black;
}
.form-section form textarea {
  font-family: "Montserrat" sans-serif;
  font-size: 1.7rem;
}
.form-section form button {
  width: 87%;
  padding: 1rem 0;
  color: white;
  background: #154353;
}
.form-section form button:focus {
  background: rgb(92, 137, 163);
  transition: 0.5s;
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
footer ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
footer h4 {
  flex: 1 1 40rem;
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }

  svg {
    width: 80%;
  }

  nav {
    width: 100%;
  }

  .splash {
    opacity: 0.5;
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }

  .main-head {
    width: 100%;
  }

  nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 20rem;
    margin: 0rem;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }

  .splash {
    opacity: 0.25;
  }

  svg {
    height: 80%;
  }

  .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .intro-text {
    text-align: center;
    flex: 1 1 20rem;
    margin-top: 4rem;
  }

  .intro-images {
    flex: 1 1 60rem;
    text-align: center;
  }

  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    margin: 1rem;
  }

  .travelly,
.photography {
    flex: 1 1 50rem;
  }
  .travelly img,
.photography img {
    width: 100%;
    height: 100%;
  }

  form {
    padding: 0rem;
    width: 100%;
  }

  .form-section img {
    opacity: 0.25;
    height: 90vh;
  }
}
@media screen and (max-width: 999px) {
  .form-section img {
    opacity: 0.25;
    height: 100vh;
  }
}/*# sourceMappingURL=style.css.map */